<div class="row pt-4">
    <div class="col">
        <h4>Education</h4>
        <p><b>Currently:</b></p>
        <ul>
            <li>
                Master's Student at
                <a href="https://arch.rice.edu/">Rice University</a>
            </li>
            <ul>
                <li>August 2022 - Present</li>
            </ul>
        </ul>
        <p><b>Previously:</b></p>
        <ul>
            <li>
                Bachelor of Architecture at
                <a href="https://capla.arizona.edu/">The University of Arizona</a>
            </li>
            <ul>
                <li>August 2017 - May 2022</li>
            </ul>
        </ul>

        <h4 class="mt-4">Employment</h4>
        <ul>
            <li>Wendell Burnette Architects</li>
            <li>Architectural Intern</li>
            <ul>
                <li>April 2022 - July 2022</li>
            </ul>
        </ul>

        <ul>
            <li>D U S T architects</li>
            <li>Architectural Intern</li>
            <ul>
                <li>May 2020 - August 2020</li>
                <li>May 2021 - August 2021</li>
            </ul>
        </ul>

        <ul>
            <li>KaiserWorks</li>
            <li>Architectural Intern</li>
            <ul>
                <li>May 2019 - August 2019</li>
            </ul>
        </ul>

        <ul>
            <li>Construction Zone</li>
            <li>Intern, web development</li>
            <ul>
                <li>May 2018 - August 2018</li>
            </ul>
        </ul>
    </div>
</div>
