<div class="row">
    <div class="col-md-6">
        <img
            class="img-fluid"
            [defaultImage]="'/assets/images/default/white.jpg'"
            [lazyLoad]="'/assets/images/default/sam.jpg'"
            alt="Samuel DeBartolo with his Partner Olivia"
            width="1080"
            height="1080"
        />
    </div>
    <div class="col-md-6">
        <p>
            samuel debartolo is a fifth year architecture student at the college of architecture, planning and landscape
            architecture
            <a href="https://capla.arizona.edu/">(CAPLA)</a>
            in tucson, arizona.
        </p>
    </div>
</div>
