<div class="row">
    <div class="col-md-6">
        <img
            class="img-fluid"
            loading="lazy"
            src="/assets/images/default/sam.jpg"
            alt="Samuel DeBartolo with his wife Olivia"
            width="1080"
            height="1080"
        />
        <p>
            samuel debartolo is currently pursuing a master's degree in architecture at
            <a href="https://arch.rice.edu/">Rice University</a>
            in houston, texas
        </p>
    </div>
</div>
