<div class="row justify-content-center">
    <div class="col-sm-6 col-md-3">
        <img
            class="img-fluid"
            [defaultImage]="'/assets/images/default/white.jpg'"
            [lazyLoad]="'/assets/images/default/sam.jpg'"
            alt="Samuel DeBartolo with his Partner Olivia"
            width="1080"
            height="1080"
        />
    </div>
    <div class="col-sm-6 col-md-3">
        <p>
            samuel debartolo is a fifth year architecture student at the college of architecture, planning and landscape
            architecture <a href="https://capla.arizona.edu/">(CAPLA)</a> in tucson, arizona.
        </p>
    </div>
</div>
