<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-6">
            <h1 class="pb-1">Samuel DeBartolo</h1>
            <div *ngIf="projects && projects.length">
                <div
                    *ngFor="let project of projects"
                    class="pb-3"
                    [id]="project.name | removeWhiteSpace"
                >
                    <h1 class="d-flex justify-content-end">
                        {{ project.name }}
                    </h1>
                    <p>{{ project.description }}</p>
                    <div *ngFor="let img of project.images" class="pb-3">
                        <img
                            class="img-fluid"
                            [defaultImage]="defaultImage.src"
                            [lazyLoad]="img.src"
                            [alt]="img.alt"
                            [width]="img.width"
                            [height]="img.height"
                        />
                    </div>
                </div>
            </div>
            <small class="d-flex justify-content-center">
                <footer>&copy; Copyright 2021</footer>
            </small>
        </div>
    </div>
</div>
