<div class="row">
    <div class="col">
        <footer class="text-center pt-3">
            <a href="https://github.com/trentprynn/samueldebartolo.com" class="p-1">
                <i class="bi bi-github text-dark"></i>
            </a>
            <a href="https://www.instagram.com/samueldebartolo/" class="p-1">
                <i class="bi bi-instagram text-dark"></i>
            </a>
            <a href="mailto:samdebartolo@me.com" class="p-1">
                <i class="bi bi-envelope-fill text-dark"></i>
            </a>
        </footer>
    </div>
</div>
