/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

// Document
//
// 1. neccesary polyfill css property for smoothscroll-anchor-polyfill

html {
  scroll-behavior: smooth;
  --scroll-behavior: smooth; // 1
}
