<div *ngIf="(projectsLoading | async) === false; else loading">
    <div *ngIf="projectsError | async as projectsError">
        <p class="text-center text-danger">
            {{ projectsError }}
        </p>
    </div>

    <div *ngIf="projects | async as projects">
        <div *ngFor="let project of projects" [id]="project.name | removeWhiteSpace">
            <div class="row">
                <div class="col">
                    <h1 class="text-end">
                        {{ project.name }}
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>{{ project.description }}</p>
                </div>
            </div>
            <div *ngFor="let img of project.images" class="row pb-3">
                <div class="col">
                    <img
                        class="img-fluid"
                        loading="lazy"
                        [src]="img.src"
                        [alt]="img.alt"
                        [width]="img.width"
                        [height]="img.height"
                    />
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #loading>
    <div class="text-center">
        <div class="spinner-grow" style="width: 5rem; height: 5rem" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</ng-template>
