<div class="row mb-3">
    <div class="col">
        <h1>samuel debartolo</h1>
        <div class="d-flex">
            <small class="pe-2">
                <a routerLink="/" routerLinkActive="text-dark" [routerLinkActiveOptions]="{ exact: true }">projects</a>
            </small>
            <small class="pe-2"><a routerLink="/about" routerLinkActive="text-dark">about</a></small>
            <small class="pe-2"><a routerLink="/history" routerLinkActive="text-dark">history</a></small>
        </div>
    </div>
</div>
